{% import '_includes/forms' as forms %}

{% if field.allowMultiple %}
	{{ forms.checkboxGroup({
		id : field.handle,
		name : field.handle,
		values: value,
		placeholder: 'Choose Sites...' | t('sites-field'),
		options: sites
	}) }}
{% else %}
	{{ forms.select({
		id : field.handle,
		name : field.handle,
		value: value,
		placeholder: 'Choose a Site...' | t('sites-field'),
		options: sites
	}) }}
	{% if value is iterable %}
		<p class="warning">{{ "Multiple sites selected, but field only allows one site. Selecting a new value will clear the existing multiple sites selection." | t('sites-field') }}</p>
	{% endif %}
{% endif %}
